.App {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.App__nav,
.App__main {
  width: 50%;
  flex-shrink: 0;
}

.App__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
